.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  background-color: rgb(220, 0, 50);
  font-size: 1.5rem;
  color: white;
  align-items: center;
  height: 50px;
  padding: 0 1rem;
  .slogan {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-style: italic;
    margin: 0 auto;
    text-shadow: 2px 2px 2px black;
    span {
      font-size: 2rem;
      text-shadow: 2px 2px 2px black;
    }
  }
  .credit {
    position: absolute;
    right: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgb(153, 153, 153);
  }
}
