body {
  --color-1: #cdbba7;
  --color-2: #dad0c2;
  --color-3: #f4dfd0;
  --color-4: #fdefef;

  // color for button operate signal
  --color-type-0: #b1e1ff;
  --color-type-1: #ffb9d1;
  --color-type-2: #fff79e;
}
