.video {
  position: relative;
  // flex: 1;
  width: fit-content;
  &__label {
    position: absolute;
    width: 100%;
    z-index: 2;
    p {
      width: fit-content;
      max-width: 95%;
      padding: 0 0.8rem;
      margin: 0 auto;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      background-color: white;
      box-shadow: 3px 3px 10px rgb(100, 100, 100);
      span {
        margin-right: 0.3rem;
        &:first-child {
          font-weight: 700;
          text-shadow: 2px 2px 1px lightgray;
        }
        &:last-child {
          font-weight: 600;
          font-style: italic;
        }
      }
    }
  }
  &__element {
    width: 800px;
    height: 400px;
    position: absolute;
  }
}
