.signal {
  &-setup {
    width: 50%;
    margin: 0 auto;
    padding: 1rem 0;
    &__back {
      display: flex;
      width: fit-content;
      span {
        align-self: center;
      }
      p {
        margin: 0;
      }
      &:hover {
        background-color: lightgray;
      }
    }
    &__form {
      width: 50%;
    }
  }
  &__project {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-weight: 500;
    .ant-select {
      min-width: 300px;
      max-width: 300px;
      margin-left: 1rem;
      text-align: left;
      font-size: 1.2rem;
    }
  }
}
