.result {
  p {
    & > span {
      font-weight: 600;
    }
  }
  & > div {
    display: flex;
    padding-left: 2rem;
  }
  & > div > div {
    display: flex;
    margin-left: 1rem;
    font-weight: 600;
    & > p {
      &:first-child {
        text-decoration: underline;
      }
      &:last-child {
        padding-left: 1rem;
      }
    }
  }
  // &__detail {
  //   & > div {
  //     width: 40%;
  //   }
  // }
  &__target {
    display: flex;
    flex-direction: column;
    width: 40%;
    * {
      font-size: 2rem;
    }
    &__wrapper {
      justify-content: left;
      width: fit-content;
    }
    &__input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      & input {
        width: 100%;
        text-align: center;
      }
      .ant-input-number {
        width: 180px;
        &-group-addon {
          width: 150px;
        }
      }
    }
  }
  &__running {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 2.4rem;
    align-items: center;
    width: 60%;
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    background-color: var(--color-3);
    & > div > div {
      display: flex;
      width: fit-content;
      & > div {
        display: flex;
        margin-left: 0.5rem;
      }
    }
    button {
      font-size: 1.2rem;
      height: fit-content;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: auto;
    }
    &__button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
      width: 100% !important;
      white-space: wrap;
      &.operate {
        margin-bottom: 0.5rem;
      }
      .ant-switch {
        &-handle {
          top: 5px;
        }
        &-inner {
          font-size: 1.2rem;
          padding: 0.2rem 0;
        }
      }
    }
    &__time {
      display: flex;
      flex-direction: column;
      font-weight: normal;
      width: 100% !important;
    }
    &__mor {
      &__value {
        color: blue;
      }
    }
    &__loss {
      &__value {
        color: red;
      }
    }
    &__ct {
      &__value {
        color: green;
      }
    }
    &__amount {
      &__value {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  &__graph {
    font-size: 2.5rem;
    text-decoration: underline;
    margin-top: 2rem;
    gap: 2rem;
    &__ct {
      flex: 1;
    }
  }
}
