.time-interface {
  height: 90%;
  overflow: auto;
  &__wrapper {
    font-size: 1.2rem;
    overflow-y: auto;
    margin-left: 0.5rem;
    table {
      width: 100%;
      th,
      td {
        background-color: whitesmoke;
        padding: 0.2rem 0.5rem;
        border: 1px solid black;
        white-space: nowrap;
      }
      .body {
        &__stdtime {
          text-align: center;
          font-weight: 500;
        }
      }
    }
  }
}
